{{/* Simple footer */}}
<footer class="py-5 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4">
        <h5>Q C Grant Ltd.</h5>
        <p>Caribbean Cybersecurity & IT Services</p>
        <p class="small mb-0">
          32 Kennedy Avenue<br>
          Roseau, Dominica<br>
          <a href="tel:+17672753290" class="text-white">+1 767 275 3290</a><br>
          <a href="mailto:support@qcgrant.com" class="text-white">support@qcgrant.com</a>
        </p>
      </div>
      <div class="col-md-4 mb-4">
        <h5>Services</h5>
        <ul class="list-unstyled">
          <li><a href="/services/cybersecurity" class="text-white">Cybersecurity</a></li>
          <li><a href="/services/managed-it" class="text-white">Managed IT</a></li>
          <li><a href="/services/cloud-ai" class="text-white">Cloud & AI</a></li>
          <li><a href="/services/consulting" class="text-white">IT Consulting</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-4">
        <h5>Company</h5>
        <ul class="list-unstyled">
          <li><a href="/about" class="text-white">About</a></li>
          <li><a href="/contact" class="text-white">Contact</a></li>
          <li><a href="/resources" class="text-white">Resources</a></li>
          <li><a href="/privacy-policy" class="text-white">Privacy</a></li>
          <li><a href="/terms-and-conditions" class="text-white">Terms</a></li>
        </ul>
      </div>
    </div>
    <hr class="my-4" style="border-color: rgba(255,255,255,0.1);">
    <div class="text-center">
      <p class="small mb-0">&copy; {{ now.Year }} Q C Grant Ltd. All rights reserved.</p>
    </div>
  </div>
</footer>
